:root {
  --fs: 2rem;

  --mbg-1: hsl(222, 26%, 31%);
  --toggle-keypad-bg-1: hsl(223, 31%, 20%);
  --screen-bg-1: hsl(224, 36%, 15%);

  --del-res-bg-1: hsl(225, 21%, 49%);
  --del-res-shadow-1: hsl(224, 28%, 35%);

  --toggle-result-bg-1: hsl(6, 63%, 50%);
  --result-shadow-1: hsl(6, 70%, 34%);
  --key-bg-1: hsl(30, 25%, 89%);
  --key-shadow-1: hsl(28, 16%, 65%);

  --text-dark-1: hsl(221, 14%, 31%);
  --text-white-1: hsl(0, 0%, 100%);

  /* theme -2  */

  --mbg-2: hsl(0, 0%, 90%);
  --toggle-keypad-bg-2: hsl(0, 5%, 81%);
  --screen-bg-2: hsl(0, 0%, 93%);
  --del-res-bg-2: hsl(185, 42%, 37%);
  --del-res-shadow-2: hsl(185, 58%, 25%);
  --toggle-result-bg-2: hsl(25, 98%, 40%);
  --result-shadow-2: hsl(25, 99%, 27%);
  --key-bg-2: hsl(45, 7%, 89%);
  --key-shadow-2: hsl(35, 11%, 61%);
  --text-dark-2: hsl(60, 10%, 19%);
  --text-white-2: hsl(0, 0%, 100%);

  /* theme -3 */

  --mbg-3: hsl(268, 75%, 9%);
  --toggle-keypad-screen-bg-3: hsl(268, 71%, 12%);
  --del-reset-bg-3: hsl(281, 89%, 26%);
  --del-reset-shadow-3: hsl(285, 91%, 52%);
  --toggle-result-bg-3: hsl(176, 100%, 44%);
  --toggle-result-shadow-3: hsl(177, 92%, 70%);
  --key-bg-3: hsl(268, 47%, 21%);
  --key-shadow-3: hsl(290, 70%, 36%);
  --text-yellow-3: hsl(52, 100%, 62%);
  --text-result-3: hsl(198, 20%, 13%);
  --text-white-3: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

html,
body {
  height: 100%;
}

button,
input {
  cursor: pointer;
}

body {
  display: grid;
  place-items: center;
}

body.active-1 {
  background-color: var(--mbg-1);
}

body.active-2 {
  background-color: var(--mbg-2);
}

body.active-3 {
  background-color: var(--mbg-3);
}

section {
  margin-inline: 1rem;
  max-width: 400px;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1rem;
}

body.active-1 header {
  color: var(--text-white-1);
}

body.active-2 header {
  color: var(--text-dark-2);
}

body.active-3 header {
  color: var(--text-yellow-3);
}

h1 {
  padding-top: 0.7rem;
}

.theme-field {
  width: 135px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: end;
  gap: 1.5rem;
}

#theme {
  align-self: end;
  font-size: 0.8rem;
  text-align: right;
}

.themes {
  display: grid;
  gap: 0.2rem;
}

.theme-labels {
  display: flex;
  justify-content: space-around;
  font-size: 0.8rem;
}

.buttons-bg {
  border-radius: 1rem;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.2rem;
}

body.active-1 .buttons-bg {
  background-color: var(--toggle-keypad-bg-1);
}

body.active-2 .buttons-bg {
  background-color: var(--toggle-keypad-bg-2);
}

body.active-3 .buttons-bg {
  background-color: var(--toggle-keypad-screen-bg-3);
}

.buttons-bg button {
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  opacity: 0;
}

body.active-1 .buttons-bg button {
  background-color: var(--toggle-result-bg-1);
}

body.active-1 .buttons-bg button:hover {
  background-color: hsl(6, 57%, 57%);
}

body.active-2 .buttons-bg button {
  background-color: var(--toggle-result-bg-2);
}

body.active-3 .buttons-bg button {
  background-color: var(--toggle-result-bg-3);
}

.buttons-bg button.active {
  opacity: 1;
}

#result {
  width: 100%;
  padding: 2rem;
  font-size: var(--fs);
  text-align: right;
  border: none;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

body.active-1 #result {
  background-color: var(--screen-bg-1);
  color: var(--text-white-1);
}

body.active-2 #result {
  background-color: var(--screen-bg-2);
  color: var(--text-dark-2);
}

body.active-3 #result {
  background-color: var(--toggle-keypad-screen-bg-3);
  color: var(--text-yellow-3);
}

.screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

body.active-1 .keypad {
  background-color: var(--toggle-keypad-bg-1);
}

body.active-2 .keypad {
  background-color: var(--toggle-keypad-bg-2);
}

body.active-3 .keypad {
  background-color: var(--toggle-keypad-screen-bg-3);
}

.keypad button {
  padding-block: 0.5rem;
  border: none;
  font-size: var(--fs);
  border-radius: 0.5rem;
}

body.active-1 .number,
body.active-1 .operator {
  background-color: var(--key-bg-1);
  color: var(--text-dark-1);
  box-shadow: 0px 3px 0px 0px var(--key-shadow-1);
}

body.active-1 .number:hover,
body.active-1 .operator:hover,
body.active-2 .number:hover,
body.active-2 .operator:hover {
  background-color: var(--text-white-1);
}

body.active-2 .number,
body.active-2 .operator {
  background-color: var(--key-bg-2);
  color: var(--text-dark-2);
  box-shadow: 0px 3px 0px 0px var(--key-shadow-1);
}

body.active-3 .number,
body.active-3 .operator {
  background-color: var(--key-bg-3);
  color: var(--text-yellow-3);
  box-shadow: 0px 3px 0px 0px var(--key-shadow-3);
}

body.active-3 .number:hover,
body.active-3 .operator:hover {
  background-color: var(--del-reset-bg-3);
}

.reset {
  grid-column: 1/3;
}

body.active-1 .reset,
body.active-1 .delete {
  background-color: var(--del-res-bg-1);
  color: var(--text-white-1);
  box-shadow: 0px 3px 0px 0px var(--del-res-shadow-1);
}

body.active-1 .reset:hover,
body.active-1 .delete:hover {
  background-color: rgb(137, 154, 205);
}

body.active-2 .reset,
body.active-2 .delete {
  background-color: var(--del-res-bg-2);
  color: var(--text-white-2);
  box-shadow: 0px 3px 0px 0px var(--del-res-shadow-2);
}

body.active-3 .reset,
body.active-3 .delete {
  background-color: var(--del-reset-bg-3);
  color: var(--text-white-3);
  box-shadow: 0px 3px 0px 0px var(--del-reset-shadow-3);
}

body.active-2 .reset:hover,
body.active-2 .delete:hover {
  background-color: hsl(185, 41%, 50%);
}

body.active-3 .reset:hover,
body.active-3 .delete:hover {
  background-color: hsl(281, 68%, 46%);
}

.equals {
  grid-column: 3/5;
}

body.active-1 .equals {
  background-color: var(--toggle-result-bg-1);
  color: var(--text-white-1);
  box-shadow: 0px 3px 0px 0px var(--result-shadow-1);
}

body.active-2 .equals {
  background-color: var(--toggle-result-bg-2);
  color: var(--text-white-2);
  box-shadow: 0px 3px 0px 0px var(--result-shadow-2);
}

body.active-3 .equals {
  background-color: var(--toggle-result-bg-3);
  color: var(--text-result-3);
  box-shadow: 0px 3px 0px 0px var(--toggle-result-shadow-3);
}

body.active-1 .equals:hover {
  background-color: hsl(6, 57%, 57%);
}

body.active-2 .equals:hover {
  background-color: hsl(25, 82%, 56%);
}

body.active-3 .equals:hover {
  background-color: hsl(176, 80%, 67%);
}

.attribution {
  font-size: 0.7rem;
  text-align: center;
}
